<app-spinner></app-spinner>
<div class="row container">
  <div class="col-md-6 left">
    <div class="overlay-container my-1">
      <img
        class="animation__wobble mb-4 rounded"
        src="assets/imgs/logo_title.png"
        alt="logo"
        height="100"
        width="100"
      />
      <h1>Welcome, my Friend!</h1>
      <p>
        Start your journey with our innovative Department Management System.
      </p>

      <!-- admin signup button -->
      <button
        class="ghost auth-button"
        id="signUp"
        (click)="signupModal(signupTemplate, true)"
      >
        Admin
      </button>

      <!-- faculty signup button -->
      <button
        class="ghost auth-button"
        id="signUp"
        (click)="signupModal(signupTemplate,false)"
      >
        Faculty
      </button>

      <!-- student signup button -->
      <button
        class="ghost auth-button"
        id="signUp"
        (click)="signupModal(studentSignupTemplate)"
      >
        Student
      </button>
    </div>
  </div>

  <div class="col-md-6 right">
    <app-signin
      (resetPwd)="resetPassword($event, resetPasswordTemplate)"
      signin
    ></app-signin>
  </div>
</div>

<ng-template #resetPasswordTemplate>
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h4 class="modal-title mb-0">RESET PASSWORD</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="global.hideModal()"
    ></button>
  </div>

  <div class="modal-body">
    <app-reset-password [emailVal]="email_value()"></app-reset-password>
  </div>
</ng-template>

<ng-template #signupTemplate>
  <div class="modal-header d-flex justify-content-between align-items-center">
    @if (isAdmin()) {
    <h4 class="modal-title mb-0">ADMIN SIGN UP</h4>
    } @else {
    <h4 class="modal-title mb-0">FACULTY SIGN UP</h4>
    }
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="global.hideModal()"
    ></button>
  </div>

  <div class="modal-body">
    <app-add-user
      [isSignup]="true"
      (register)="onSignupSubmit($event)"
    ></app-add-user>
  </div>
</ng-template>

<!-- email verification modal -->
<ng-template #emailVerificationTemplate>
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h4 class="modal-title mb-0">VERIFY EMAIL</h4>
  </div>

  <div class="modal-body">
    <app-verify-email></app-verify-email>
  </div>
</ng-template>

<ng-template #studentSignupTemplate>
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h4 class="modal-title mb-0">SIGN UP STUDENT</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="global.hideModal()"
    ></button>
  </div>

  <div class="modal-body">
    <app-add-student></app-add-student>
  </div>
</ng-template>
