<app-content-header [title]="title" [subRoute]="title" [lastRoute]="false">
</app-content-header>

<div class="table-wrapper rounded">
  @let form = filterForm()!;

  <form [formGroup]="form" (ngSubmit)="applyFilters()">
    <div class="row g-4 my-4 mx-1 p-4 bg-white rounded">
      <!-- subjects -->
      <div class="col-xl-6 col-sm-6 col-12">
        <app-mat-datepicker-form
          label="FROM DATE"
          placeholder="Pick a date"
          [required]="true"
          [control]="form.controls['from_date']"
        ></app-mat-datepicker-form>
      </div>
      <div class="col-xl-6 col-sm-6 col-12">
        <app-mat-datepicker-form
          label="TO DATE"
          placeholder="Pick a date"
          [required]="true"
          [control]="form.controls['to_date']"
        ></app-mat-datepicker-form>
      </div>

      <!-- classes names -->
      <div class="col-xl-6 col-sm-6 col-12">
        <app-select-form
          label="CLASSES"
          placeholder="Select Class"
          [required]="true"
          [control]="form.controls['classes']"
          optionTextField="label"
          optionValueField="_id"
          [items]="classItems()"
          (onChange)="onClassSelected($event)"
        ></app-select-form>
      </div>

      <!-- subjects -->
      <div class="col-xl-6 col-sm-6 col-12">
        <app-select-form
          label="SUBJECTS"
          placeholder="Select Subjects"
          [required]="false"
          [control]="form.controls['subject']"
          optionTextField="subjectLabel"
          optionValueField="_id"
          [items]="subjectItems()"
        ></app-select-form>
      </div>

      <div class="box-footer mt-4 d-flex justify-content-center">
        <app-submit-button> </app-submit-button>
      </div>
    </div>
  </form>

  <div class="d-flex align-items-center justify-content-end">
    <app-search-filter-input
      class="search-table-input"
      (filteredData)="onFilterChange($event)"
    ></app-search-filter-input>

    <app-excel-button
      [fileName]="title"
      [values]="students()"
      api="getStudents"
      [fields]="[
        'id',
        'name',
        'email',
        'phone',
        'status',
        'role.name',
        'created_at',
        'updated_at'
      ]"
    ></app-excel-button>
  </div>

  <div class="col-md-12 mb-3">
    <ngx-datatable
      #table
      class="material"
      [rows]="students()"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [loadingIndicator]="loadingIndicator()"
      [scrollbarH]="true"
      [externalPaging]="true"
      [limit]="pageSize()"
      [count]="totalRecords()"
      [offset]="currentPage()"
      (page)="onPageChange($event)"
      (sort)="onSortChange($event)"
    >
      <ngx-datatable-column prop="rollNo" [sortable]="false">
        <ng-template
          let-column="column"
          ngx-datatable-header-template
          let-sort="sortFn"
        >
          <span class="tableHeader">ROLL NO</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.student_rollNo }}
        </ng-template>
      </ngx-datatable-column>

      <!-- student name -->

      <ngx-datatable-column prop="name">
        <ng-template
          let-column="column"
          ngx-datatable-header-template
          let-sort="sortFn"
        >
          <span class="tableHeader">NAME</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.student_name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="subject">
        <ng-template
          let-column="column"
          ngx-datatable-header-template
          let-sort="sortFn"
        >
          <span class="tableHeader">SUBJECT</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.subject_name }}
        </ng-template>
      </ngx-datatable-column>

      <!-- phone number -->
      <ngx-datatable-column prop="total_classes">
        <ng-template
          let-column="column"
          ngx-datatable-header-template
          let-sort="sortFn"
        >
          <span class="tableHeader">TOTAL CLASSES</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.total_classes }}
        </ng-template>
      </ngx-datatable-column>

      <!-- department -->
      <ngx-datatable-column prop="attended_classes">
        <ng-template
          let-column="column"
          ngx-datatable-header-template
          let-sort="sortFn"
        >
          <span class="tableHeader">ATTENDED CLASSES</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.attended_classes }}
        </ng-template>
      </ngx-datatable-column>

      <!-- year -->
      <ngx-datatable-column prop="percentage">
        <ng-template
          let-column="column"
          ngx-datatable-header-template
          let-sort="sortFn"
        >
          <span class="tableHeader">PERCENTAGE</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.attendance_percentage }}%
        </ng-template>
      </ngx-datatable-column>

      <!-- actions -->
      <ngx-datatable-column [frozenRight]="true">
        <ng-template ngx-datatable-header-template>
          <span class="tableHeader">ACTION</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <app-icon-round-button
            icon="fa fa-eye"
            addIconClass=" edit"
            tooltip="View All"
          >
          </app-icon-round-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
