// @font-face {
//     font-family: Gilroy;
//     src: url(Gilroy-Regular.ttf);
// }

// @font-face {
//     font-family: Gilroy;
//     src: url(Gilroy-SemiBold.ttf);
//     font-weight: 600;
// }

// @font-face {
//     font-family: Gilroy;
//     src: url(Gilroy-Bold.ttf);
//     font-weight: 700;
// }

@font-face {
    font-family: Gabarito;
    src: url(Gabarito-Regular.ttf);
}

@font-face {
    font-family: Gabarito;
    src: url(Gabarito-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Gabarito;
    src: url(Gabarito-Bold.ttf);
    font-weight: 700;
}