<div class="form-group form-label form-style">
  
  @if(label()) {
    <label>
      {{ label() }}
      @if(required()) {
      <small>*</small>
      }
    </label>
  }

  @let controlValue = controlInput;

  <div class="icons-input">
    <span class="fas fa-{{icon()}} align-item icons"></span>

    @if(disabled()) {
      <input
        [type]="type()"
        class="form-control"
        [placeholder]="placeholder()"
        [formControl]="controlValue!"
        [disabled]="disabled()"
      />
      
    } @else {
      <input
        [type]="type()"
        class="form-control"
        [placeholder]="placeholder()"
        [formControl]="controlValue!"
      />

    }

    @if(endText()) {
    <span class="align-item text_end">
      {{endText()}}
    </span>
    }
  </div>

  @if(required() && controlValue?.touched && controlValue?.invalid) {
  <div class="invalid-feedback d-block">
    <div>
      <small class="text-danger">
        @if(controlValue?.errors!['minlength']) { * Please enter {{placeholder()}} of atleast {{minlength()}} characters }
        @else if(controlValue?.errors!['maxlength']) { * Maximum {{maxlength()}} characters allowed }
        @else if(controlValue?.errors!['email']) { * Please provide a proper email address }
        @else if(controlValue?.errors!['custom']) { {{ controlValue?.errors!['custom']?.message }} }
        @else { * Required }
        
        <!-- @if(controlValue?.errors!['required']) { * Required } -->
      </small>
    </div>
  </div>
  }
</div>
