<!--begin::Container-->
<div class="container-fluid">
  <app-boxes [counts]="data()?.counts"></app-boxes>

  <!--begin::Row-->
  <div class="row">
    <!-- Start col -->
    <div class="col-lg-6 connectedSortable">
      <!-- ai chat box -->
      <app-chat-box></app-chat-box>
    </div>
    <!-- /.Start col -->

    <!-- Start col -->
    <div class="col-lg-6 connectedSortable">
      <!-- DIRECT CHAT -->

      <!-- User Datatable -->
      @if(profile()?.role === 'admin') {
      <app-card title="FACULTIES" classes="bg-color">
        <app-users [isCard]="true"></app-users>
      </app-card>
      }
      <!-- /.direct-chat -->
    </div>

    <!-- /.Start col -->
  </div>
  <!-- /.row (main row) -->
</div>
<!--end::Container-->
