<!-- small box -->
<div class="small-box" style="border-radius: 5px;" [style.background]="color">
  <div class="inner">
    <!-- <h3 *ngIf="!price">{{ count }}</h3>
    <h3 *ngIf="price">{{ count | number: '1.2-2' }}</h3> -->

    <p style="font-weight: bold">{{ title }}</p>
  </div>
  <div class="icon">
    <i class="ion {{ icon }}"></i>
    <!-- <fa-icon [icon]="icon" class="icons"></fa-icon> -->
  </div>
  <!-- <a [routerLink]="link" class="small-box-footer">More info
    <i class="fa fa-arrow-circle-right"></i>
  </a> -->
</div>
